<h1>Stock Chart</h1>
<p>Here's a stock chart.</p>

<%= select_tag "Stock Tickers", options_from_collection_for_select(@stock_tickers, "id", "name"), include_blank: "Choose a Stock"-%>

<div id="chart1" style="height: 300px;"></div>

<% if @stock_tickers.first %>
  <% st = @stock_tickers.first %>
  <%= form_for st, method: :post, remote: true,
        url: "/stock_tickers/#{st.id}/generate_new_daily_performance_record" do |f| %>
    <% f.submit "Add datapoint to #{st.stock_symbol}"  %>
  <% end %>
<% end %>
