// window.APP.pages = window.APP.pages || {};
// <% page_id = "#{File.basename(File.expand_path("..", __FILE__))}-#{File.basename(__FILE__, ".js.erb")}".to_json %>
//
// window.APP.pages[<%= page_id %>] = function() {
//
//   $(document).ready(function() {
//     //window.pageUI = new PageUI(gon.signatureCount, gon.topThreeStates);
//     //pageUI.init();
//     //return pageUI;
//   });
// };
//
// // Hanldes all the js fun for '/'
// var PageUI = function () {
//
//   this.init = function() {
//
//     if (location.hash != "#nofaye") // use '/#nofaye' for disabling faye in tests
//       APP.fayeHelper.subscriptions.add('/save_kittens/data/fresh_data', this.updateGuiWithData);
//     if (!APP.fayeClient.online)
//       this.enablePollingForData();  // gets disabled when faye comes online
//   };
//
//   this.enablePollingForData = function() {
//     var interval = setInterval(function(){
//       pageUI.checkForNewData();
//     }, 2000);
//     window.APP.intervals["pollingFreshData"] = interval;
//   };
//
//   this.disablePollingForData = function() {
//     window.APP.intervals.ClearAll();
//   };
//
//   // request data from /data/fresh_data and update DOM
//   this.checkForNewData = function() {
//     var klass = this;
//     $.ajax({url: "/data/fresh_data", success: function(result){
//       if (result.signatureCount != pageUI.lastSignatureCount) {
//         pageUI.lastSignatureCount = parseInt(result.signatureCount);
//         klass.updateGuiWithData(result);
//       }
//     }});
//   };
//
//   // data: {"signatureCount":54,"topThreeStates":["CA"]}
//   this.updateGuiWithData = function(data) {
//     tailorSigCount(data);
//     tailorTopStates(data);
//   };
//
//
//   var tailorTopStates = function(data) {
//     // set the number of top states
//     $(".topStatesCount").html(data.topThreeStates.length);
//
//     pluralizeStateStatements(data);
//
//     populateTopStatesList(data);
//
//     showHideTopStatesDependingOnSignatureCount(data);
//   };
//
//   var populateTopStatesList = function(data) {
//     $("#top-states-list").html("");
//     data.topThreeStates.forEach(function(state){
//       var elem = "<li>" + state + "</li>";
//       $("#top-states-list").append(elem);
//     });
//   };
//
//   var showHideTopStatesDependingOnSignatureCount = function(data) {
//     if (data.topThreeStates.length != 0){
//       $(".top-states").show();
//     }
//     else{
//       $(".top-states").hide();
//     }
//   };
//
//   var tailorSigCount = function(data) {
//     // update integer signatureCount
//     $(".signatureCount").html(data.signatureCount);
//
//     showHideBeTheFirstDependingOnSignatureCount(data);
//
//     pluralizeSignatureStatements(data);
//   };
//
//   // remove "be the first" statement if there's at least 1 signature
//   var showHideBeTheFirstDependingOnSignatureCount = function(data) {
//     if(data.signatureCount == 0)
//       $(".beTheFirst").show();
//     else
//       $(".beTheFirst").hide();
//   };
//
//   var pluralizeStateStatements = function(data) {
//     if (data.topThreeStates.length == 1) {
//       $(".state-plural").hide();
//       $(".state-singular").show();
//     }
//     else {
//       $(".state-plural").show();
//       $(".state-singular").hide();
//     }
//   };
//
//   var pluralizeSignatureStatements = function(data) {
//     if (data.signatureCount == 1){
//       $(".signature-plural").hide();
//       $(".signature-singular").show();
//     }
//     else{
//       $(".signature-plural").show();
//       $(".signature-singular").hide();
//     }
//   };
//
// };
